*, html {
    margin:0;
    padding:0;  
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #F55A5A;
    height: 75px;
}

.title {
    margin-left: 15px;
    font-size: 22px;
    font-weight: normal;
}

.card {
        display: flex;
}
        
.card-img-box { 
    display: flex;
    flex-direction: row-reverse;
}

.card-content-box { 
    display: flex;
    flex-direction: column;
}
        
.card-img { 
    height: 50vh;
    width: 35vh;
    overflow: hidden;
    padding: 15px;
    border-radius: 20px;
}

.card-location { 
    padding-left: 15px;
    height: 10vh;
    display: flex;
    flex-direction: column-reverse;
}

.card-location-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google-link {
    color: darkgray;
    text-decoration: underline;
    padding-left: 50px;
}

.card-location h2 {
    font-weight: 100;
    text-transform: uppercase;
    padding-left: 10px;
}

.card-name { 
    padding-left: 15px;
    padding-top: 15px;
    height: 10vh;
    font-size: 150%;
}

.card-name h1 {
    font-weight: 900;
}

.card-date { 
    padding-left: 15px;
    height: 5vh;
    font-size: 110%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 15px;
}
.card-description { 
    padding-left: 15px;
    height: 25vh;
    font-size: 110%;
}

.card-holder {
    width: 80%;
    margin: auto;
}

hr.solid {
    border-top: 3px;
    color: lightgray;
  }